<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="over" opened="true">

    <section>
      <mat-checkbox (change)="params.hasPhoto=$event.checked">Has photo</mat-checkbox>
      <mat-checkbox (change)="params.inContact=$event.checked">In contact</mat-checkbox>
      <mat-checkbox (change)="params.favourite=$event.checked">favorite</mat-checkbox>
    </section>
    <section>
      Age From
      <mat-slider (change)="params.ageFrom=$event.value" thumbLabel min="18" max="95" step="1" value="18"></mat-slider>
      <br> Age To
      <mat-slider (change)="params.ageTo=$event.value" thumbLabel min="18" max="95" step="1" value="95"></mat-slider>
    </section>
    <section></section>
    <section>
      Compatibility Score From
      <mat-slider (change)="params.compatibilityFrom=$event.value" thumbLabel min="1" max="99" step="1" value="1"></mat-slider>
      <br> Compatibility Score To
      <mat-slider (change)="params.compatibilityTo=$event.value" thumbLabel min="1" max="99" step="1" value="99"></mat-slider>
    </section>


    <section></section>
    <section>
      Height From
      <mat-slider (change)="params.heightFrom=$event.value" thumbLabel min="135" max="210" step="1" value="135"></mat-slider>
      <br> Height To
      <mat-slider (change)="params.heightTo=$event.value" thumbLabel min="135" max="210" step="1" value="210"></mat-slider>
    </section>
    <section></section>
    <section>
      Distance
      <mat-slider (change)="params.distance=$event.value" thumbLabel min="30" max="300" step="1" value="200"></mat-slider>
    </section>

    <section>
      <div class="button-row">
        <button mat-fab color="primary" (click)="makeRequest()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </section>
  </mat-sidenav>
  <button mat-fab class="filter-fab" color="primary" (click)="sidenav.toggle()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <div class="sidenav-content">

    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile *ngFor="let person of persons">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon style="color: red">{{ person.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>
            </div>

            <mat-card-title>{{person.displayName}}</mat-card-title>
            <mat-card-subtitle>{{person.city.name}}</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image [src]="person.mainPhoto ? person.mainPhoto : 'https://image.flaticon.com/icons/png/512/118/118781.png'">
          <mat-card-content>

            <p>Age: <b>{{person.age}}</b></p>
            <p>Job: <b>{{person.jobTitle}}</b></p>
            <p>Height: <b>{{person.heightInCm}} cm</b></p>
            <p>Religion: <b>{{person.religion}}</b></p>

          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>

  </div>
</mat-sidenav-container>